:local .bg {
    height: 100vh;
    background: linear-gradient(to right, #aa2b81, #7362aa);
    display: flex;
    justify-content: center;
    align-items: center;
}

:local .form {
    background: #fff;
    width: 50%;
    padding: 0 20px;
}