:local .header {
    display: flex;
    align-items: center;
    padding: 5px;
    background: #D68C15;
}

:local .right {
    margin-left: auto;
}

:local .listItem {
    display: inline-block;
    margin-right: 20px;
}

:local .login {
    color: #fff;
}