:local .badge {
    display: flex;
    justify-content: center;
    align-items: center;
}

:local .red {
    background: red;
    color: #fff;
    font-weight: 500;
}

:local .rounded {
    border-radius: 50%;
}

:local .sm {
    width: 16px;
    height: 16px;
}

:local .md {
    width: 24px;
    height: 24px;
}

:local .lg {
    width: 32px;
    height: 32px;
}